fastapi
uvicorn
python-multipart
python-dotenv
pyjwt
pydantic
qdrant-client
langchain
langchain-core
langchain-community
langchain-openai
langchain-qdrant
langchain-google-genai
langchain-tavily
langgraph
yt-dlp
youtube-transcript-api
docx2txt
tiktoken
pypdf
tavily-python
openai
google-generativeai
